.rank-outline {
  background: url("./images/outline.png") no-repeat;
  background-size: contain;
  height: 131px;
  width: 105px;
  margin-right: .3rem;
  margin-top: .3rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.rank-outline:nth-child(3n) {
  margin-right: 0;
}

.item-heart {
  position: absolute;
  top: 7px;
  right: 15px;
  height: .33rem;
  transition: all .6s ease-in;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.gray-heart {
  -webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
  filter: grayscale(0);
}

.rank-outline .rank-img {
  height: 49%;
  width: 96px;
}
