.done {
  width: 7rem;
  height: 5rem;
  background: url("./images/done.png") no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
}

.done .check {
  height: 1rem;
  margin-top: 3.3rem;
  margin-right: .4rem;
}

.title {
  font-size: 22px;
  margin-bottom: 8px;
}

.sub-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.outline {
  width: 8rem;
  height: 9.6rem;
  background: url("./images/outline.png") no-repeat;
  background-size: contain;
}
