.header {
  height: 1.2rem;
  width: 9rem;
  display: flex;
  justify-content: space-between;
}

.header .round {
  height: 1.2rem;
}

.round-num {
  width: .6rem;
}
.header .remaining {
  height: .8rem;
  width: 1.8rem;
  padding-left: 2rem;
  padding-top: .2rem;
  margin-top: .2rem;
  font-size: 20px;
  background: url("./images/remaining.png") no-repeat;
  background-size: contain;
  text-align: center;
}

.line {
  width: 5rem;
  margin-top: .1rem;
}

.draw-box {
  background: url("./images/outline.png");
  background-size: 100% 100%;
  height: 340px;
  width: 320px;
  padding-left: 6px;
  padding-top: 6px;
}

.draw-box .img-for-top {
  width: 300px;
  height: 140px;
  position: relative;
  top: 10px;
}

.draw-box .img-for-bottom {
  width: 300px;
  height: 140px;
  position: relative;
  bottom: 150px;
}

.toolbox {
  height: 2.4rem;
  width: 8rem;
  margin-top: .4rem;
  display: flex;
}

.toolbox .color-select {
  height: 2.4rem;
  width: 3.9rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.color-select li {
  height: 1rem;
  width: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: .3rem;
}

.red {
  background: url("./images/red.png");
}

.yellow {
  background: url("./images/yellow.png");
}

.blue {
  background: url("./images/blue.png");
}

.green {
  background: url("./images/green.png");
}

.purple {
  background: url("./images/purple.png");
}

.black {
  background: url("./images/black.png");
}

.toolbox .action {
  width: 4.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.action .eraser {
  height: 1rem;
  width: 1rem;
  background: url("./images/eraser.png") no-repeat;
  background-size: contain;
}

.action .redo {
  height: 1rem;
  width: 1rem;
  background: url("./images/redo.png") no-repeat;
  background-size: contain;
}

.draw-ques {
  height: .8rem;
  margin-top: .5rem;
  font-size: 22px;
}

.bottom-canvas {
  position: relative;
  top: 176px;
}

.xjy {
  background: url("./images/xjy.png");
  background-size: 100% 100%;
}
